@charset "UTF-8";
/* #ff6b81 */
.container-principal {
  padding-top: 20px;
  position: relative;
  display: grid;
  grid-template-columns: [inicio-left] 2% [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 2% [fim-rigth];
  grid-template-rows: [inicio-content-home] auto [fim-content-home] 0px [inicio-content-coringa] min(100vh) [fim-content-coringa] 0px;
  /* O grid column e row do content da página atual é definido no seu determinado arquivo css */
}
.container-principal .section .box-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.container-principal .section .box-titles .title {
  text-transform: uppercase;
  color: #3c4e64;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}
.container-principal .section .box-titles .subtitle {
  text-align: center;
  color: #333333;
  font-size: 14px;
  padding: 0 15px;
}
.container-principal .content-coringa {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-content-coringa/fim-content-coringa;
}

.contente-btn-volta-topo {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.contente-btn-volta-topo .btn-volta-top {
  padding: 8px 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background-color: #00AAFF;
  color: #FFFFFF;
  border-radius: 3px;
  display: none;
}
.contente-btn-volta-topo .btn-volta-top-visivel {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 420px) {
  .container-principal {
    position: relative;
    display: grid;
    grid-template-columns: [inicio-left] 5% [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 5% [fim-rigth];
    grid-template-rows: [inicio-content-home] auto [fim-content-home] 0px [inicio-content-coringa] min(100vh) [fim-content-coringa] 0px;
  }
}
@media screen and (min-width: 460px) {
  .container-principal {
    grid-template-columns: [inicio-left] 8% [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 8% [fim-rigth];
  }
}
@media screen and (min-width: 520px) {
  .container-principal {
    position: relative;
    display: grid;
    grid-template-columns: [inicio-left] 10% [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 10% [fim-rigth];
    grid-template-rows: [inicio-content-home] auto [fim-content-home] 0px [inicio-content-coringa] min(100vh) [fim-content-coringa] 0px;
  }
}
@media screen and (min-width: 581px) {
  .container-principal {
    grid-template-columns: [inicio-left] 2% [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 2% [fim-rigth];
  }
}
@media screen and (min-width: 920px) {
  .container-principal {
    margin: 0 auto;
    position: relative;
    display: grid;
    grid-template-columns: [inicio-left] 6% [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 6% [fim-rigth];
    grid-template-rows: [inicio-content-home] auto [fim-content-home] 0px [inicio-content-coringa] min(100vh) [fim-content-coringa] 0px;
  }
}
@media screen and (min-width: 1280px) {
  .container-principal {
    grid-template-columns: [inicio-left] 13% [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 13% [fim-rigth];
  }
}

/*# sourceMappingURL=grid-principal.css.map */
