/* #ff6b81 */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans", sans-serif;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #f7f4f4;
}

.container-principal {
  position: relative;
  display: grid;
  grid-template-columns: [inicio-left] 12px [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 12px [fim-rigth];
  grid-template-rows: [inicio-section-home] 100vh [fim-section-home] 0px [inicio-section-contato] min(100vh) [fim-section-contato] 0px;
}
.container-principal .section {
  padding: 0 5%;
}
.container-principal .section .box-titles {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}
.container-principal .section .box-titles .title {
  text-transform: uppercase;
  color: #3c4e64;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
}
.container-principal .section .box-titles .subtitle {
  text-align: center;
  color: #333333;
  font-size: 14px;
  padding: 0 15px;
}

.contente-btn-volta-topo {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
.contente-btn-volta-topo .btn-volta-top {
  padding: 8px 10px;
  border: 1px solid #FFFFFF;
  cursor: pointer;
  background-color: #00AAFF;
  color: #FFFFFF;
  border-radius: 3px;
  display: none;
}
.contente-btn-volta-topo .btn-volta-top-visivel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paraliza-body {
  overflow: hidden;
}

.cabecalho-branco {
  background-color: #FFFFFF;
}

.container-cabecalho {
  width: 100%;
  padding: 0 12px;
  position: fixed;
  z-index: 2;
  box-shadow: 1px 1px 2px #00aaff;
}
.container-cabecalho .content-logo-btn-menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container-cabecalho .content-logo-btn-menu .logo {
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .logo a {
  display: block;
  width: 140px;
  height: 45px;
  font-size: 0;
  background: url(../../img/sistema/logo.png) no-repeat center/140px;
}
.container-cabecalho .content-logo-btn-menu .logo-escuro a {
  color: #333333;
}
.container-cabecalho .content-logo-btn-menu .btn-menu {
  width: 25px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 0.3s;
  cursor: pointer;
  z-index: 2;
}
.container-cabecalho .content-logo-btn-menu .btn-menu .linha-btn {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #3c4e64;
  transition: 0.3s;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-escuro .linha-btn {
  background-color: #333333;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto {
  justify-content: center;
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-2 {
  margin-top: -4px;
  transform: translateX(-100%);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-1 {
  transform: rotate(45deg);
}
.container-cabecalho .content-logo-btn-menu .btn-menu-aberto .linha-btn-3 {
  margin-top: -4px;
  transform: rotate(-45deg);
}

.content-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  left: -100%;
}
.content-menu .menu-principal {
  width: 270px;
  height: 100%;
  background-color: #FFFFFF;
  transform: translateX(-50%);
  transition: 0.5s;
  overflow: hidden;
  position: relative;
}
.content-menu .menu-principal .form-busca {
  width: 100%;
  display: flex;
  padding: 20px;
  padding-bottom: 0;
  border-top: 1px solid #f7f4f4;
}
.content-menu .menu-principal .form-busca #ipt-busca {
  padding: 6px;
  border: 1px solid #eee;
  outline: none;
  flex: 1;
  font-size: 12px;
}
.content-menu .menu-principal .form-busca #btn-nusca {
  padding: 6px 10px;
  background-color: #333;
  color: #FFF;
  cursor: pointer;
  border: none;
}
.content-menu .menu-principal .ul-items-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}
.content-menu .menu-principal .ul-items-menu li.item {
  width: 100%;
}
.content-menu .menu-principal .ul-items-menu li.item a {
  width: 100%;
  display: block;
  padding: 5px 20px;
  font-size: 0.9em;
  color: #333333;
}
.content-menu .menu-principal .ul-items-menu li.item:hover a {
  color: #FFFFFF;
  background-color: #3c4e64;
}
.content-menu .menu-principal .ul-items-midia {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  border-top: 1px solid #f7f4f4;
  position: absolute;
  left: 0;
  bottom: 0;
}
.content-menu .menu-principal .ul-items-midia li.item {
  flex: 1;
}
.content-menu .menu-principal .ul-items-midia li.item a {
  display: block;
  width: 100%;
  padding: 5px 0;
  font-size: 1.2em;
  text-align: center;
}
.content-menu .menu-principal .ul-items-midia li.item .icon-facebook {
  color: #4164ac;
}
.content-menu .menu-principal .ul-items-midia li.item .icon-instagram {
  color: #f24d57;
}
.content-menu .menu-principal .ul-items-midia li.item .icon-youtube {
  color: #e93c25;
}
.content-menu .menu-principal .ul-items-midia li.item .icon-whatsapp {
  color: #00e676;
}

.content-menu-aberto {
  top: 0;
  left: 0;
  transition: 0.3s;
}
.content-menu-aberto .menu-principal {
  transform: translateX(0);
  transition: 0.6s;
}
.content-menu-aberto .btn-menu {
  transition: 0.3s;
}

@media screen and (min-width: 990px) {
  .cabecalho-branco .content-logo-btn-menu .content-menu .menu-principal .ul-items-menu li.item a {
    color: #3c4e64;
  }

  .container-cabecalho .content-logo-btn-menu .btn-menu {
    display: none;
  }

  .content-menu {
    height: 100%;
    width: auto;
    position: relative;
    left: inherit;
    background-color: inherit;
    transition: none;
  }
  .content-menu .menu-principal {
    width: auto;
    background-color: transparent;
    transform: none;
    padding: 0;
    transition: none;
  }
  .content-menu .menu-principal .ul-items-midia {
    display: none;
  }
  .content-menu .menu-principal .ul-items-menu {
    padding: 0;
    height: 100%;
    flex-direction: row;
    border: none;
  }
  .content-menu .menu-principal .ul-items-menu li.item {
    width: auto;
  }
  .content-menu .menu-principal .ul-items-menu li.item a {
    color: #3c4e64;
  }
  .content-menu .menu-principal .ul-items-menu li.item:hover a {
    color: #333;
    background-color: transparent;
    text-decoration: underline;
  }
}
.section-home {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-section-home/fim-section-home;
}

.section-servicos {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-servicos/fim-section-servicos;
  background-color: #fff;
}
.section-servicos .box-servicos {
  width: 100%;
  display: flex;
}
.section-servicos .box-servicos ul.servicos {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.section-servicos .box-servicos ul.servicos li.servico {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  background: #FFFFFF;
  cursor: pointer;
}
.section-servicos .box-servicos ul.servicos li.servico .box-icon-servico {
  min-height: 150px;
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border-radius: 3px 3px 0 0;
  padding: 5px;
  overflow: hidden;
}
.section-servicos .box-servicos ul.servicos li.servico .box-icon-servico .icon {
  width: 80%;
  color: #fff;
}
.section-servicos .box-servicos ul.servicos li.servico .box-title-descricao-acao {
  padding: 5px 15px;
  flex: 1;
}
.section-servicos .box-servicos ul.servicos li.servico .box-title-descricao-acao h4.title-servico {
  font-size: 14px;
  color: #333333;
}
.section-servicos .box-servicos ul.servicos li.servico .box-title-descricao-acao p.descricao-servico {
  color: #575353;
  font-size: 14px;
}

@media screen and (min-width: 760px) {
  .section-servicos .box-servicos ul.servicos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .section-servicos .box-servicos ul.servicos li.servico {
    width: 48%;
  }
}
@media screen and (min-width: 760px) {
  .section-servicos .box-servicos ul.servicos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }
  .section-servicos .box-servicos ul.servicos li.servico {
    width: 32%;
  }
}
.section-precos {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-precos/fim-section-precos;
}

.section-sobre {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-sobre/fim-section-sobre;
}

.section-time {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-time/fim-section-time;
}

.section-contato {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-section-contato/fim-section-contato;
}

/*# sourceMappingURL=includes.css.map */
