/* #ff6b81 */
.content-home {
  grid-column: inicio-temp/fim-temp;
  grid-row: inicio-content-home/fim-content-home;
  display: grid;
  grid-template-columns: [inicio-left] 12px [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 12px [fim-rigth];
  grid-template-rows: [inicio-content-home] auto [fim-content-home] 10px;
}
.content-home .section-home {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-content-home/fim-content-home;
  display: grid;
  grid-template-columns: [inicio-left] 12px [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 12px [fim-rigth];
  grid-template-rows: [inicio-content-vitrine-destaques] auto [fim-content-vitrine-destaques] 10px [inicio-content-slider-principal] 195px [fim-slider-principal] 10px [inicio-content-noticias] 100px [fim-content-noticias] 10px [inicio-content-widgets] 100px [fim-content-widgets] 10px;
}
.content-home .section-home .content {
  background-color: #333;
}
.content-home .section-home .content-vitrine-destaques {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-content-vitrine-destaques/fim-content-vitrine-destaques;
  display: grid;
  grid-template-columns: [inicio-left] 12px [inicio-temp] 1fr repeat(12, 10px 1fr) [fim-temp] 12px [fim-rigth];
  grid-template-rows: [inicio-destaque1] 150px [fim-destaque1] 10px [inicio-destaque2] 150px [fim-destaque2] 10px [inicio-destaque3] 150px [fim-destaque3] 10px [inicio-destaque4] 150px [fim-destaque4] 10px;
  /*             .destaque:first-child{
                  .informacoes-destaque{
                      .box-title-subtitle{
                          border-left: 2px solid #00AAFF;
                      }
                  }
              } */
}
.content-home .section-home .content-vitrine-destaques .destaque:hover .background-destaque {
  transform: scale(1.1);
}
.content-home .section-home .content-vitrine-destaques .destaque {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.content-home .section-home .content-vitrine-destaques .destaque .link-destaque {
  height: 100%;
  display: block;
}
.content-home .section-home .content-vitrine-destaques .destaque .background-destaque {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  transition: 0.5s;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.content-home .section-home .content-vitrine-destaques .destaque .background-destaque:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.2) 80%, rgba(0, 0, 0, 0.4));
}
.content-home .section-home .content-vitrine-destaques .destaque .informacoes-destaque {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  padding-bottom: 5px;
}
.content-home .section-home .content-vitrine-destaques .destaque .informacoes-destaque .box-data-categoria {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.content-home .section-home .content-vitrine-destaques .destaque .informacoes-destaque .box-data-categoria .data {
  color: #FFF;
  font-size: 0.6em;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
}
.content-home .section-home .content-vitrine-destaques .destaque .informacoes-destaque .box-data-categoria .categoria {
  color: #FFF;
  background: #00AAFF;
  font-size: 0.6em;
  border-radius: 3px;
  padding: 3px;
}
.content-home .section-home .content-vitrine-destaques .destaque .informacoes-destaque .box-title-subtitle {
  display: flex;
  flex-direction: column;
  padding: 8px 0 0 8px;
  border-left: 2px solid #00AAFF;
}
.content-home .section-home .content-vitrine-destaques .destaque .informacoes-destaque .box-title-subtitle .titulo-destaque {
  color: #FFF;
  font-size: 1.2em;
  font-family: "Robot", sans-serif;
  margin-bottom: 8px;
}
.content-home .section-home .content-vitrine-destaques .destaque .informacoes-destaque .box-title-subtitle .subtitle-destaque {
  color: #FFF;
  font-family: "Robot", sans-serif;
  font-size: 0.88em;
}
.content-home .section-home .content-vitrine-destaques .destaque-1 {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-destaque1/fim-destaque1;
}
.content-home .section-home .content-vitrine-destaques .destaque-2 {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-destaque2/fim-destaque2;
}
.content-home .section-home .content-vitrine-destaques .destaque-3 {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-destaque3/fim-destaque3;
}
.content-home .section-home .content-vitrine-destaques .destaque-4 {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-destaque4/fim-destaque4;
}
.content-home .section-home .content-slider-principal {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-content-slider-principal/fim-slider-principal;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.content-home .section-home .content-slider-principal .box-header-slider {
  width: 100%;
  background: #FFF;
  display: flex;
  justify-content: space-between;
}
.content-home .section-home .content-slider-principal .box-header-slider .texto-patrocinado {
  font-size: 10px;
  padding: 5px;
  color: #ccc;
}
.content-home .section-home .content-slider-principal .box-header-slider .texto-patrocinado:hover {
  color: #444;
  text-decoration: underline;
}
.content-home .section-home .content-slider-principal .box-header-slider .btn-infos {
  padding: 5px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.content-home .section-home .content-slider-principal .box-header-slider .btn-infos .icons-circles {
  width: 100%;
  justify-content: space-between;
  display: flex;
}
.content-home .section-home .content-slider-principal .box-header-slider .btn-infos .icons-circles .cicle {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: #CCC;
}
.content-home .section-home .content-slider-principal .box-header-slider .btn-infos .icons-circles .cicle:nth-child(2) {
  margin: 0 2px;
}
.content-home .section-home .content-slider-principal .box-header-slider .btn-infos .box-infos {
  width: 150px;
  height: 80px;
  background: #FFF;
  border: 1px solid #CCC;
  position: absolute;
  top: 80%;
  right: 0;
  border-radius: 3px;
  display: none;
  z-index: 1;
}
.content-home .section-home .content-slider-principal .box-header-slider .btn-infos:hover .icons-circles .cicle {
  background-color: #444;
}
.content-home .section-home .content-slider-principal .box-header-slider .btn-infos:hover .box-infos {
  display: flex;
}
.content-home .section-home .content-slider-principal .slider {
  height: 100%;
  display: inline-flex;
  transform: translateX(0);
  transition: transform 0.3s ease-out;
  cursor: grab;
}
.content-home .section-home .content-slider-principal .slider .slide {
  max-height: 100%;
  min-width: 100%;
  position: relative;
  user-select: none;
}
.content-home .section-home .content-slider-principal .slider .slide .background-slide {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FFF;
}
.content-home .section-home .content-slider-principal .slider .slide .informacoes-slide {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px;
}
.content-home .section-home .content-slider-principal .slider .slide .informacoes-slide .box-btn-saiba-mais {
  display: flex;
  justify-content: flex-end;
}
.content-home .section-home .content-slider-principal .slider .slide .informacoes-slide .box-btn-saiba-mais .btn-saiba-mais {
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 0.65em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px;
  color: #FFF;
  border-radius: 3px;
  border: 1px solid #FFFFFF;
}
.content-home .section-home .content-slider-principal .grabbing {
  /* agarrando */
  cursor: grabbing;
}
.content-home .section-home .content-noticias {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-content-noticias/fim-content-noticias;
}
.content-home .section-home .content-widgets {
  grid-column: inicio-left/fim-rigth;
  grid-row: inicio-content-widgets/fim-content-widgets;
}

@media screen and (min-width: 460px) {
  .content-home .section-home {
    grid-template-rows: [inicio-content-vitrine-destaques] auto [fim-content-vitrine-destaques] 30px [inicio-content-slider-principal] 220px [fim-slider-principal] 10px [inicio-content-noticias] 100px [fim-content-noticias] 10px [inicio-content-widgets] 100px [fim-content-widgets] 10px;
  }
  .content-home .section-home .content-vitrine-destaques {
    grid-column: inicio-left/fim-rigth;
    grid-row: inicio-content-vitrine-destaques/fim-content-vitrine-destaques;
    display: grid;
    grid-template-columns: [inicio-left] 12px [inicio-temp] 1fr repeat(8, 10px 1fr) [fim-destaque1] 3px [inicio-destaques2-3] 1fr repeat(3, 10px 1fr) [fim-destaque3] 3px [inicio-destaque4] 1fr repeat(3, 10px 1fr) [fim-temp] 12px [fim-rigth];
    grid-template-rows: [inicio-destaques1-2] 190px [fim-destaque2] 3px [inicio-destaques3-4] 190px [fim-destaques1-3-4];
    margin-top: 50px;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-1 {
    grid-column: inicio-left/fim-destaque1;
    grid-row: inicio-destaques1-2/fim-destaques1-3-4;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-2 {
    grid-column: inicio-destaques2-3/fim-rigth;
    grid-row: inicio-destaques1-2/fim-destaque2;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-3 {
    grid-column: inicio-destaques2-3/fim-destaque3;
    grid-row: inicio-destaques3-4/inicio-destaques1-3-4;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-4 {
    grid-column: inicio-destaque4/fim-rigth;
    grid-row: inicio-destaques3-4/inicio-destaques1-3-4;
  }
}
@media screen and (min-width: 580px) {
  .content-home .section-home {
    grid-template-rows: [inicio-content-vitrine-destaques] auto [fim-content-vitrine-destaques] 30px [inicio-content-slider-principal] 300px [fim-slider-principal] 10px [inicio-content-noticias] 100px [fim-content-noticias] 10px [inicio-content-widgets] 100px [fim-content-widgets] 10px;
  }
  .content-home .section-home .content-vitrine-destaques {
    grid-column: inicio-left/fim-rigth;
    grid-row: inicio-content-vitrine-destaques/fim-content-vitrine-destaques;
    display: grid;
    grid-template-columns: [inicio-left] 12px [inicio-temp] 1fr repeat(8, 10px 1fr) [fim-destaque1] 3px [inicio-destaques2-3] 1fr repeat(3, 10px 1fr) [fim-destaque3] 3px [inicio-destaque4] 1fr repeat(3, 10px 1fr) [fim-temp] 12px [fim-rigth];
    grid-template-rows: [inicio-destaques1-2] 190px [fim-destaque2] 3px [inicio-destaques3-4] 190px [fim-destaques1-3-4];
    margin-top: 50px;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-1 {
    grid-column: inicio-left/fim-destaque1;
    grid-row: inicio-destaques1-2/fim-destaques1-3-4;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-2 {
    grid-column: inicio-destaques2-3/fim-rigth;
    grid-row: inicio-destaques1-2/fim-destaque2;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-3 {
    grid-column: inicio-destaques2-3/fim-destaque3;
    grid-row: inicio-destaques3-4/inicio-destaques1-3-4;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-4 {
    grid-column: inicio-destaque4/fim-rigth;
    grid-row: inicio-destaques3-4/inicio-destaques1-3-4;
  }
}
@media screen and (min-width: 700px) {
  .content-home .section-home {
    grid-template-rows: [inicio-content-vitrine-destaques] auto [fim-content-vitrine-destaques] 30px [inicio-content-slider-principal] 330px [fim-slider-principal] 10px [inicio-content-noticias] 100px [fim-content-noticias] 10px [inicio-content-widgets] 100px [fim-content-widgets] 10px;
  }
  .content-home .section-home .content-vitrine-destaques {
    grid-column: inicio-left/fim-rigth;
    grid-row: inicio-content-vitrine-destaques/fim-content-vitrine-destaques;
    display: grid;
    grid-template-columns: [inicio-left] 12px [inicio-temp] 1fr repeat(8, 10px 1fr) [fim-destaque1] 3px [inicio-destaques2-3] 1fr repeat(3, 10px 1fr) [fim-destaque3] 3px [inicio-destaque4] 1fr repeat(3, 10px 1fr) [fim-temp] 12px [fim-rigth];
    grid-template-rows: [inicio-destaques1-2] 190px [fim-destaque2] 3px [inicio-destaques3-4] 190px [fim-destaques1-3-4];
    margin-top: 50px;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-1 {
    grid-column: inicio-left/fim-destaque1;
    grid-row: inicio-destaques1-2/fim-destaques1-3-4;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-2 {
    grid-column: inicio-destaques2-3/fim-rigth;
    grid-row: inicio-destaques1-2/fim-destaque2;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-3 {
    grid-column: inicio-destaques2-3/fim-destaque3;
    grid-row: inicio-destaques3-4/inicio-destaques1-3-4;
  }
  .content-home .section-home .content-vitrine-destaques .destaque-4 {
    grid-column: inicio-destaque4/fim-rigth;
    grid-row: inicio-destaques3-4/inicio-destaques1-3-4;
  }
}
@media screen and (min-width: 720px) {
  .content-home .section-home {
    grid-template-columns: [inicio-left] 12px [inicio-temp] 1fr repeat(8, 10px 1fr) [fim-contents-slider-noticias] 10px [inicio-content-widgets] 1fr repeat(4, 10px 1fr) [fim-temp] 12px [fim-rigth];
    grid-template-rows: [inicio-content-vitrine-destaques] auto [fim-content-vitrine-destaques] 30px [inicio-contents-slider-widgets] 250px [fim-slider] 10px [inicio-content-noticias] 290px [fim-contents-noticias-widgets];
  }
  .content-home .section-home .content-vitrine-destaques {
    grid-column: inicio-left/fim-rigth;
    grid-row: inicio-content-vitrine-destaques/fim-content-vitrine-destaques;
  }
  .content-home .section-home .content-vitrine-destaques .destaque:nth-child(2) .informacoes-destaque .box-title-subtitle .subtitle-destaque, .content-home .section-home .content-vitrine-destaques .destaque:nth-child(3) .informacoes-destaque .box-title-subtitle .subtitle-destaque, .content-home .section-home .content-vitrine-destaques .destaque:nth-child(4) .informacoes-destaque .box-title-subtitle .subtitle-destaque {
    display: initial;
  }
  .content-home .section-home .content-slider-principal {
    grid-column: inicio-left/fim-contents-slider-noticias;
    grid-row: inicio-contents-slider-widgets/fim-slider;
  }
  .content-home .section-home .content-noticias {
    grid-column: inicio-left/fim-contents-slider-noticias;
    grid-row: inicio-content-noticias/fim-contents-noticias-widgets;
  }
  .content-home .section-home .content-widgets {
    grid-column: inicio-content-widgets/fim-rigth;
    grid-row: inicio-contents-slider-widgets/fim-contents-noticias-widgets;
  }
}

/*# sourceMappingURL=section-home.css.map */
